/.vs/SongGenerator/v15/Browse.VC.db
/.vs/SongGenerator/v15/Browse.VC.opendb
/.vs/SongGenerator/v15/ipch/b903df65ac9ca94b.ipch
/.vs/SongGenerator/v15/*.suo
/.vs/SongGenerator/v15/ipch/AutoPCH/86e31059fdd04626/*.ipch
/.vs/SongGenerator/v15/ipch/AutoPCH/b2a1d6341ceb83c2/*.ipch
/Debug/*.exe
/Debug/*.ilk
/Debug/*.pdb
/SongGenerator/Debug/*.obj
/SongGenerator/Debug/*.log
/SongGenerator/Debug/SongGenerator.tlog/*.tlog
/SongGenerator/Debug/SongGenerator.tlog/*.lastbuildstate
/SongGenerator/Debug/*.idb
/SongGenerator/Debug/*.pdb
/.vs/SongGenerator/v15/ipch/AutoPCH/21f21a31ad87a79c/SONGPART.ipch
/.vs/SongGenerator/v15/ipch/AutoPCH/5afec85717b041cd/SONG.ipch
/.vs/SongGenerator/v15/ipch/AutoPCH/5fae538ec6c77203/LYRICS.ipch
/.vs/SongGenerator/v15/ipch/AutoPCH/7d793ee8f12f4612/SONGPART.ipch
/.vs/SongGenerator/v15/ipch/AutoPCH/9222f47a8726eccc/TIMESIGNATURE.ipch
/.vs/SongGenerator/v15/ipch/AutoPCH/ba6a9bfdda8259d3/SONG.ipch
/.vs/SongGenerator/v15/ipch/AutoPCH/d4bf204c5582f17e/LYRICS.ipch
/SongGenerator/Debug/SongGenerator.res
/SongGenerator/SongGenerator.aps
/SongGenerator/SongGenerator.rc
/.vs/SongGenerator/CopilotIndices/18.3.511.5503/CodeChunks.db
/.vs/SongGenerator/CopilotIndices/18.3.511.5503/CodeChunks.db-shm
/.vs/SongGenerator/CopilotIndices/18.3.511.5503/CodeChunks.db-wal
/.vs/SongGenerator/CopilotIndices/18.3.511.5503/SemanticSymbols.db
/.vs/SongGenerator/CopilotIndices/18.3.511.5503/SemanticSymbols.db-shm
/.vs/SongGenerator/CopilotIndices/18.3.511.5503/SemanticSymbols.db-wal
/.vs/SongGenerator/FileContentIndex/1bdb8c36-b7d5-48d7-996a-12badc0e0edb.vsidx
/.vs/SongGenerator/v18/.suo
/.vs/SongGenerator/v18/Browse.VC.db
/.vs/SongGenerator/v18/Browse.VC.db-shm
/.vs/SongGenerator/v18/Browse.VC.db-wal
/.vs/SongGenerator/v18/Browse.VC.opendb
/.vs/SongGenerator/v18/DocumentLayout.backup.json
/.vs/SongGenerator/v18/DocumentLayout.json
/.vs/SongGenerator/v18/Upgrade.VC.txt
/SongGenerator/x64/Debug/SongGenerator.tlog/CL.command.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/SongGenerator.lastbuildstate
/SongGenerator/x64/Debug/SongGenerator.tlog/unsuccessfulbuild
/SongGenerator/x64/Debug/SongGenerator.log
/.vs/SongGenerator/FileContentIndex/669f6d90-dabf-4c3a-a96c-87718a08315a.vsidx
/.vs/SongGenerator/FileContentIndex/d94989ef-87bf-4609-a1a7-7f53909dae6c.vsidx
/.vs/SongGenerator/v18/ipch/AutoPCH/3116a41f5f932a89/SONGPART.ipch
/.vs/SongGenerator/v18/ipch/AutoPCH/3fff8d03ce6e9d09/LYRICS.ipch
/.vs/SongGenerator/v18/ipch/AutoPCH/c8e3d99b37113e3/SONGGENERATOR.ipch
/.vs/SongGenerator/v18/ipch/81f33153672e6ae8.ipch
/x64/Debug/SongGenerator.exe
/x64/Debug/SongGenerator.pdb
/SongGenerator/x64/Debug/SongGenerator.tlog/Cl.items.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/CL.read.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/CL.write.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/link.command.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/link.read.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/link.secondary.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/link.write.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/rc.command.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/rc.read.1.tlog
/SongGenerator/x64/Debug/SongGenerator.tlog/rc.write.1.tlog
/SongGenerator/x64/Debug/Chord.obj
/SongGenerator/x64/Debug/Lyrics.obj
/SongGenerator/x64/Debug/RCa33620
/SongGenerator/x64/Debug/Song.obj
/SongGenerator/x64/Debug/SongGenerator.Build.CppClean.log
/SongGenerator/x64/Debug/SongGenerator.exe.recipe
/SongGenerator/x64/Debug/SongGenerator.ilk
/SongGenerator/x64/Debug/SongGenerator.obj
/SongGenerator/x64/Debug/SongGenerator.res
/SongGenerator/x64/Debug/SongGenerator.vcxproj.FileListAbsolute.txt
/SongGenerator/x64/Debug/SongPart.obj
/SongGenerator/x64/Debug/vc145.idb
/SongGenerator/x64/Debug/vc145.pdb
/.vs/SongGenerator/FileContentIndex/0e4bebea-fb68-432e-8b78-b3284e15d607.vsidx
/.vs/SongGenerator/FileContentIndex/a4ca2277-43e5-455b-a9d7-2483fe8524a4.vsidx
/.vs/SongGenerator/v18/ipch/AutoPCH/2549bc3895ebc44f/CHORD.ipch
/.vs/SongGenerator/v18/ipch/AutoPCH/e376a3a1be2586b4/SONG.ipch
